@keyframes timer-stopped {
    from {font-size: 100px; 
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
        width: 300px;
        height: 150px;
        margin: 100px auto 20px;
    }
    to {font-size: 120px; 
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.055); 
        width: 450px;
        height: 170px;
        margin: 100px auto 200px;
    
    }
  }
  

body {
    background-color: #e7e1d3;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Mono', monospace; 
}

h1 {
    color: #c9c1ae;
    font-size: 25px;
    margin-top: 50px;
    font-weight: 400;
}


.timer {
    top: 2rem;
    width: 300px;
    height: 150px;
    font-size: 100px;
    color: #868176;
    border-radius: 50px;
    font-weight: bold;
    margin: 100px auto 20px;
}

.reference-text {
    color: #8f887a;
    margin-bottom: 30px;
    font-size: 30px;
}

.input-val {
    background-color: #f3ebdd;
    font-size: 31px;
    border: none;
    outline: none;
    height: 45px;
    min-width: 50px;
    width: 70%;
    max-width: 750px;
    resize: none;
    margin: 20px auto;
    padding: 20px 1rem;
    border-radius: 20px;
}

.correct {
    color: #ffffff;
}

.incorrect {
    color: rgb(255, 171, 164);
}

.time-stopped {
    animation-name: timer-stopped;
    animation-duration: 1s;
    font-size: 120px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.055); 
    width: 450px;
    height: 170px;
    margin-bottom: 200px;
}